@use 'variables' as *;



@font-face {
  font-family: 'Helixa';
  src: url('../assets/fonts/Helixa-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helixa';
  src: url('../assets/fonts/Helixa-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helixa';
  src: url('../assets/fonts/Helixa-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


p {
  max-width: 48ch;
  font-size: $size-1;
  font-weight: $font-regular;
  color: $text-primary;
}

.service-description {
  font-size: 1.5rem;

  @include desktop {
    color: rgb(243, 249, 235);
       text-shadow: 
        0 2px 4px rgba(44, 43, 43, 0.8),
        0 1px 2px rgba(0, 0, 0, 0.9);
  }


  @media (max-width:600px) {
    display: none;

  };

  }



.content {
  font-size: 1.6rem;
  color: $text-primary;
   max-width: clamp(300px, 70vw + 5%, 80%);
  line-height: 1.4; 



}


h1 {
    font-size: $size-8;
    font-weight: 600;
    line-height: 1;   
}



.section-headline,
h2 { 
    font-size: $size-4;
    line-height: 1.2;
    font-weight: $font-bold;
    color: $headline;


}

 
.card-title,
h3 {
    // Title styling for card elements and other UI component
    font-size: 1.8rem;
    font-weight: $font-semibold;
    line-height: 1.3;
    letter-spacing: 0.5px;

     @include mobile {
    font-size: 1.5rem;
  }
  }


  .card-title--v2,
h4 {
    // Title styling for card elements and other UI component
    font-size: $size-1;
    font-weight: $font-semibold;
    line-height: 1.3;
  }

  
.card-body {
    font-size: 1.15rem;
    font-weight: $font-regular;
  }




   /* === OTHER === */

   .eyebrow {
    font-size: $size-0;
    color: $brand-primary;

   }


  cite {
    font-style: normal;
    font-weight: $font-regular;
    line-height: 1.6;
  }

  .content-box {
    font-size: $size-1;
    line-height: 1.5;
    width: 40ch;
  }

 
.adjust-vertical {
    //Reduces gap between text elements
    margin-top: -0.5rem;
}



.large-break {
    display: none;
}

@media (min-width: 1250px) {
  //Adds a line break only when viewport is over 1250px
    .large-break {
        display: block;
    }
}

@media (max-width: 1250px) {
  //Adds a line break only when viewport is below 1250px
    .low-break {
        display: block;
    }
}