@use './scss/variables' as *;
@use './scss/typography' as *;

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  scrollbar-width: none;

}

ul, ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

img, picture, svg {
  max-width: 100%;
  display: block;

  /* Prevent image dragging without blocking pointer events */
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
}

input, button, textarea, select {
  font: inherit;
}

button {
    background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}


//MAIN STYLES

body {
    font-family: 'Helixa', sans-serif;
    background: #000000;
    color: white;
    overflow-x: hidden; // Prevent slider content overflowing and making the page wider than it needs to

}


.fuzzy-overlay {
    position: fixed;
    inset: -200%;
    background-image: url('../assets/noise.svg');
    opacity: 12.5%;
    z-index: -10;
    /* No CSS animation here, we'll use GSAP */
}


.color-wrapper {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg,rgb(41, 228, 41) 0%, rgba(111, 237, 111, 1) 45%, rgba(199, 247, 110, 1) 100%);
}



.hero {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 115vh;
    width: 100%;
    position: relative;



    &-content {
        gap: 4em;
        padding-left: $space-4x;
        padding-bottom: 12rem;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../assets/hero_bg.jpg');
        background-size: cover;
        background-position: right 100%;
        opacity: 0.75; 
        z-index: -1; /* Place behind content */
        filter: saturate(200%);
    }
}

main {
    margin-block: $space-8x;
}





//LAYOUT CLASSES & RULES

section + section {  /* Default spacing between all sections */
    margin-top: 10rem;

  @include mobile {
   margin-top: 5rem;
}    

  }

  .text-measure {
    max-width: 60%;
  
  }

  .vertical-margin {
    margin-top: $space-4x;

    @include tablet {
      margin-top: 2.5rem;
    }
  }



.section-header {
    display: flex;
    flex-direction: column;
    gap: $space-3q;

    @include tablet {
    max-width: 85%;
  }

    @include mobile {
    max-width: 100%;
  }
}

.two-col {
    display: grid;
    grid-template-columns: 1fr 0.65fr;
    gap: $space-3x;
    padding-inline: $space-4x;

    @include tablet {
    display: flex;
    flex-direction: column;
  }

}


 .content-island {
    background-image: url('/assets/noise-bg.svg');
    background-size: contain;
    background-color: $modal;
    border-radius: $radius;
    padding-inline: $space-4x;
    padding-block: $space-8x;
    position: relative;
    z-index: -2;
    margin-inline: auto;
    width: calc(100vw - $space-2x);
  /* Drop Shadow with glossy effect */
  box-shadow: 0px 0px 4px 0 rgba(2, 96, 51, 0.2); /* Subtle light from top-left */


   }

   .content-island::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    border-radius: $radius;
    box-shadow:  inset 3px 6px 10px 0 rgba(2, 34, 15, 0.2); /* Inner shadow */
  }



   .content-block {
    display: flex;
    flex-direction: column;
    gap: $space-md;
    max-width: 80%;

    @include tablet {
    max-width: 90%;
    gap: 1.5rem;
  }

   @include mobile {
    max-width: 100%;
    gap: 1.5rem;
  }
   }




// ABOUT

   .media-wrapper {
    width: 100%;
    @include hide-on-tablet
   }

   #cube-video {
    object-fit: contain;
    width: 100%;
    height: auto;


  /* This makes black transparent */
  mix-blend-mode: lighten;
  filter: contrast(1.25) saturate(75%);

   /* Add vertical gradient mask (more visible at top, fades at bottom) */
   -webkit-mask-image: linear-gradient(to bottom, 
   rgba(0,0,0,1) 70%, 
   rgba(0,0,0,0));
    mask-image: linear-gradient(to bottom, 
    rgba(0,0,0,1) 70%, 
    rgba(0,0,0,0));
}

  

// SERVICES

.services-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto;
  gap: $space-md;
  margin-top: $space-4x;

  @include tablet {
    grid-template-columns: 1fr;

  }


}

.service-card--wide {
  display: flex;
  justify-content: space-between;
  background-color: #1a1a1a;
  border-radius: 1rem;
  height: 66vh;
  background-image: url('../assets/service-bg.png');
  background-position: left 50%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: $space-3x;
  grid-column: 1 / -1; /* Spans from first to last column */
   box-shadow: 
                0 12px 40px rgba(0, 0, 0, 0.6),
                0 6px 20px rgba(0, 0, 0, 0.4),
                0 2px 8px rgba(9, 74, 35, 0.25),
                inset 0 1px 0 rgba(0, 201, 67, 0.1),
                inset 0 -1px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.05);



  &[data-service="data-consulting"] {
    background-image: url('../assets/service-bg3.png');
    background-position: left 20%;

  }

  .service-bio {
    display: flex;
    flex-direction: column;
    gap: $space-lite;
    max-width: 35%;
    align-self: end;

    .service-icon {
      svg {
        margin-bottom: $space-1x;
        width: 2.5rem;
      }
    }

    @include tablet {
    max-width: 66%;
  }

  }

  @include tablet {
    height: 38vh;
     padding: 2rem;
  }

  @include mobile {
    height: 30vh;
    padding: 1.5rem;
  }

  
}

// Vertical card
.service-card--vertical {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  border-radius: 1rem;
  justify-content: end;
  padding: $space-3x;
  height: 66vh;
  grid-column: span 1;

  position: relative;
  overflow: hidden; // Important to allow the pseudo-element to exceed boundaries but be clipped
   box-shadow: 
                0 12px 40px rgba(0, 0, 0, 0.6),
                0 6px 20px rgba(0, 0, 0, 0.4),
                0 2px 8px rgba(9, 74, 35, 0.25),
                inset 0 1px 0 rgba(0, 201, 67, 0.1),
                inset 0 -1px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.05);



  &[data-service="machine-learning"] {
    &::before {
      content: '';
      position: absolute;
      top: -15%; // Negative value moves it below the container
      left: 0%; // Negative value moves it beyond the right edge
      background-image: url('../assets/card-shape3.svg');
      background-repeat: no-repeat;
      background-position: center; // Or bottom right, etc.
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }

  &[data-service="data-management"] {
    &::before {
      content: '';
      position: absolute;
      top: -20%; // Negative value moves it below the container
      left: 25%; // Negative value moves it beyond the right edge
      background-image: url('../assets/card-shape2.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; // Or bottom right, etc.
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }

  .service-bio {
    display: flex;
    flex-direction: column;
    gap: $space-lite;
    max-width: 75%;

    .service-icon {
      svg {
        margin-bottom: $space-1x;
        width: 2.5rem;
      }
    }
  }


   @include tablet {
    height: 38vh;
    padding: 2rem;
  }

    @include mobile {
    height: 30vh;
    padding: 1.5rem;
  }

}





/// --------- INDUSTRIES --------- \\\\\\


.industries {
    padding: $space-4x;
    

}

.separator {
    display: flex;
    justify-content: space-between;
    align-items: end;

    @include mobile {
      justify-content: flex-start;
    }
}

.slider-nav {
    display: flex;
    gap: $space-1x;

    @include tablet {
     display: none;
    }
}

.slider-wrapper {
    width: 100%;
    overflow: visible; // Let cards be visible outside the wrapper, so they don't get cropped by any padding attributes
  }


.card-slider {
    display: flex;
    gap: $space-1x;
    user-select: none;
    width: fit-content;

  }

  .is-dragging * { 
    cursor: grabbing;
  }



  .industry-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 370px;
    aspect-ratio: 4/5;
    border: 1px solid rgb(55, 128, 0);
 
    background-size: cover;
    background-position: right center;
    border-radius: calc($radius/2);

     &[data-industry="media"] {
        background-image: url('../assets/media.png');

    }
    
    &[data-industry="manufacturing"] {
        background-image: url('../assets/manufacturing2.png');

    }
    

    
    &[data-industry="finance"] {
        background-image: url('../assets/finance.png');
    }
    
    &[data-industry="aviation"] {
        background-image: url('../assets/aviation.png');
    }
    
    &[data-industry="technology"] {
        background-image: url('../assets/retail.png');
    }
    
    &[data-industry="supply-chain"] {
        background-image: url('../assets/supply-chain2.png');
    }


  
    &__bio {
      position: relative;
      padding: $space-md;



      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 11;
        background-color: #00060430;
        width: 100%;
        height: 125%;
         -webkit-filter: blur(8px);
        filter: blur(10px);
        transform: translateY(0.25rem);
      }
  

    h3{
      font-size: 2.2rem;

      color: #f2fddb;
      font-weight: $font-regular;
      position: relative;
      z-index: 11; //On top of our overlay
       text-shadow: 1px 1.5px 0 rgba(0, 0, 0, 0.509);

    @include tablet {
    font-size: 2rem;
  }

    @include mobile {
    font-size: 1.65rem;
  }
    }

     @include tablet {
   padding: 1.5rem;
  }

    }


    @include tablet {
    max-width: 320px;
  }

    @include mobile {
    max-width: 250px;
  
  }

}
  


/// --------- TESTIMONIALS --------- \\\\\\

.testimonials {
  padding-inline: $space-6x;

}

.testimonial-body {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: $space-4x;
    gap: $space-3x;


 blockquote {
        font-size: $size-6;
        line-height: 1.2;
        font-weight: $font-regular;
        background: linear-gradient(90deg, #3abb9b 0%, #7deb69 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        position: relative;
        

        
        &::before {
            content: '"';
            position: absolute;
            left: -1rem;
        }

          @include tablet {
           font-size: $size-5;
}

        @include mobile {
           font-size: $size-4;
}
    }
    
    cite {


        .person-name {
            color: #fff;
            font-size: $size-2;
            font-weight: $font-semibold;
            color: $text-primary;
   
            
            &::before {
                content: '';
                display: inline-block;
                width: 0.75rem;
                height: 0.75rem;
                background-color: #4de8c2;
                border-radius: 50%;
                margin-right: 0.75rem;
            }
        }
      
    }

@include tablet {
    gap: $space-4x;
}    


@include mobile {
   width: 100%;
}

    
}


.logo-container {
  display: flex;
  align-items: center;
   justify-content: flex-start;
  gap: $space-2x;




.testimonials-logo {
  width: 12.5rem;
  opacity: 0.35;
  transition: opacity 0.3s ease;

    @include tablet {
    width: 10rem;
  }

  @include mobile {
    display: none;
  }

}

.testimonials-logo.active {
  opacity: 1;
}

}



/// --------- FAQS --------- \\\\\\


.faqs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: $space-3x;
    padding-inline: $space-4x;
    margin-top: $space-16x; //Adding a bit of extra margin for isolation


    @include mobile {
      grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    }
}

.faq-item {
    position: relative;
    border-bottom: 1px solid #d6fad3;
    padding-block: $space-2x;
    transition: padding 0.3s ease, background-color 0.3s ease;
  
    &:first-child {
      border-top: 1px solid #d6fad3;
      
    }
    
    // Question styling
    .faq-question {
      align-items: center;
      color: #afe7a9;
      cursor: pointer;
      display: flex;
      font-size: $size-2;
      font-weight: $font-regular;
      justify-content: space-between;
      width: 100%;
    }

/* When active, rotate to turn faq-btn into an X*/
&.active .faq-btn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

&.active .faq-btn::after {
  transform: translate(-50%, -50%) rotate(45deg);
}
    

  }

  
  
  // Plus/minus button
  .faq-btn {
    align-items: center;
    border-radius: 4px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    position: relative;

    width: 2rem;
  
    &::before,
    &::after {
      background-color: #89e780;
      content: '';
      position: absolute;
      transform-origin: center;
      transition: transform 0.3s ease;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
    // Horizontal line
    &::before {
      
      height: 2px;
      width: 20px;
      transform: translate(-50%, -50%);
    }
  
    // Vertical line
    &::after {
      height: 20px;
      width: 2px;
      transform: translate(-50%, -50%);
    }

    
  }
  
  // Answer content
  .faq-answer {
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease-out;
    
    p {
      margin-top: 1rem;
   
      font-size: $size-1;
      line-height: 1.4;
      color: $text-primary;
    }
  }






  .site-footer {
    background-color: rgb(0, 0, 0);
    background-image: url('/assets/noise-bg.svg');
    /* Subtle brightness adjustment to enhance pattern visibility */
    color: $headline;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    margin-top: 10rem; 
 
    margin-bottom: $space-4x;
    height: auto;
    width: 95%;
    border-radius: $radius;
    padding-top: 4.5rem;
    padding-bottom: $space-md;
    padding-inline: $space-3x;
    border: 1px solid $brand-primary;

       @include tablet {
        padding-top: 3rem;
        padding-inline: 2rem;
        padding-bottom: 1rem;
      }
  
  }
  
  
  
  .footer-main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: $space-4x;
  
    
      .footer-logo {
        width: 100%;
        justify-self: center;
        height: auto;
  
      }

      @include tablet {
        padding-right: $space-2x;
        flex-direction: column;
        gap: 3rem;
      }
    }


// SCSS for footer-right section

.footer-right {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: $space-1x;

  h2 {
    font-size: $size-2;
    font-weight: 500;
    color: $headline;
  }

  .description {
    font-size: 1.1rem;
    line-height: 1.5;
    opacity: 0.9;
    margin-bottom: $space-md;

    @include tablet {
    margin-bottom: $space-3x;
  }
  }

  @include tablet {
    width: 90%;
  }

   @include mobile {
    width: 100%;
    gap: $space-2x;
  }
}



  .email-form {
    position: relative;
    margin-bottom: $space-3x;
    width: 90%;
    
    .email-input {
      width: 100%;
      background: transparent;
      border: none;
      border-bottom: 1px dashed rgba(66, 168, 2, 0.7);
      padding-bottom: 1rem;
      letter-spacing: 1.5px;
      color: $headline;
      font-size: 14px;
      outline: none;
      
      &::placeholder {
        color: $brand-primary;
        font-size: 0.8rem;
        font-weight: $font-bold;
  
      }
      
      &:focus {
        border-bottom: 1px solid rgba(66, 168, 2, 1);
      }



    }
    
    .submit-btn {
      position: absolute;
      right: 0;
      bottom: 6px;
      background-color: transparent;
      color: $brand-primary;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.2s ease;
      
      &:hover {
        background-color: rgba(100, 247, 100, 0.1);
      }
      
      svg {
        width: 16px;
        height: 16px;
        stroke: $brand-primary;
      }
    }

@include tablet {
  margin-bottom: $space-4x;
}

  }


.socials {
  margin-bottom: 4rem;
    
    &-title {
      color: #abb2ab;
      opacity: 1;
      font-size: 0.85rem;
      letter-spacing: 1.5px;
      margin-bottom: $space-1x;
      font-weight: $font-bold;
      text-transform: uppercase;
    }
    
    .social-links {
      display: grid;
      grid-template-columns: repeat(2, 120px);
      grid-gap: $space-3q;
 
      
      a {
        color: $text-primary;
        text-decoration: none;
        font-weight: $font-bold;
        font-size: 0.85rem;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        opacity: 0.9;
        transition: opacity 0.2s ease;
        display: inline-flex;
        align-items: center;
        gap: 6px;
        white-space: nowrap;
        
        &:hover {
          opacity: 1;
        }
        
        svg {
          margin-bottom: 2.5px;
          width: 1.25rem;
          height: 1.25rem;
        }
      }
    }

   
  }



  
  
  


  
  .footer-legal {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    text-transform: uppercase;
    color: rgb(206, 206, 206);
    margin-top: auto;
    font-size: $size-minus;
    letter-spacing: 1px;
    font-weight: $font-bold;
    opacity: 0.75;
  
      a {
        margin-right: $space-2x;
      }
  
      small{
        font-size: $size-minus;
      }
  }
  